@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lemon&display=swap");
body {
  padding: 30px 80px;
}

.company-detail {
  background-color: #feb92e;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
}

.company-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 80px;
}

.back-button,
.menu-button {
  cursor: pointer;
}

.back-circle,
.menu-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #feb92e;
}

.back-arrow,
.menu-icon {
  font-size: 1.5rem;
  color: #feb92e;
  line-height: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-projects {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 80px;
}

.project-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  background-color: #ffb11b;
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
  height: 400px;
}

.project-cards:hover {
  background-color: #feb92e;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  .project-button:hover {
    color: #000000;
  }
}

.project-contents {
  flex: 1;
  padding: 20px 60px;
  text-align: left;
}

.project-titles {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #000000;
  font-family: "Kodchasan";
}

.project-subtitles {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #805400;
  font-family: "Kodchasan";
  font-weight: 500;
}
.project-descriptions {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #000000;
  font-family: "Kodchasan";
  font-weight: 500;
}

.project-button {
  display: inline-flex;
  background-color: #ffa800;
  color: #805400;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
  font-family: "Kodchasan";
  font-size: 1rem;
  font-weight: 500;
}

.arrow {
  margin-left: 0.5rem;
}

.project-images {
  flex: 1;
  overflow: hidden;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
  max-width: 370px;
}

.project-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: right;
}
