.header {
  padding: 20px 40px;
  width: 100%;
  /* max-width: 1200px; */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #feb92e;
  box-sizing: border-box;
  left: 0;
  right: 0;
  transition: border-bottom 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.profile-container {
  position: relative;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.profile-image:hover {
  transform: scale(1.1);
}

.popup-message {
  position: absolute;
  top: calc(100% + 15px);
  left: -15px;
  background-color: #000000;
  color: #ffc107;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  border-radius: 50px;
  animation: fadeInDown 0.3s ease forwards;
  z-index: 10;
  white-space: nowrap;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nav-tabs {
  display: flex;
  background-color: #000000;
  border-radius: 100px;
  padding: 4px;
  position: relative;
  width: 115%;
  max-width: 900px;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.nav-indicator {
  position: absolute;
  height: calc(100% - 8px);
  background-color: #feb92e;
  border-radius: 30px;
  transition: all 0.3s ease;
  z-index: 1;
  top: 4px;
}

.nav-tab {
  color: #feb92e;
  padding: 12px 32px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
  flex: 1;
  text-align: center;
  background-color: transparent;
}

.nav-tab.active {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000000;
  color: #feb92e;
}

.menu-icon {
  font-size: 34px;
  font-weight: 200;
}
